/* Mobile Styles */
@media handheld, screen and (max-width: 743px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: auto 10%;
  }

  .today-details {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .day-temp {
    font-size: 14rem;
  }

  .min-max {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle:hover{
    cursor: pointer;
  }

  .rotateClass {
    transform: rotate(180deg);
  }
  

  .description {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
  }

  .rest-of-week {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refresh-btn {
  }
}

@media handheld, screen and (min-width: 743px) {

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: auto 10%;
  }

  .today-details {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .day-temp {
    font-size: 14rem;
  }

  .min-max {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle:hover{
    cursor: pointer;
  }

  .rotateClass {
    transform: rotate(180deg);
  }
  

  .description {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
  }

  .rest-of-week {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto 10%;
  }

  .refresh-btn {
  }
}


@media handheld, screen and (min-width: 1000px) {

  .container {

      display: flex;
      flex-direction: row;
      height: auto;
      height: auto;
      padding-top: 5rem;
      padding-bottom: 3rem;
    }

    .rest-of-week-container{
      flex-direction: column;
      width: auto;
      margin-top: 5%;
    }
  
    .today-header {
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid whitesmoke;
    }
  
    .today-weather {
      font-family: sans-serif;
      margin: auto 10%;
    }
  
    .today-details {
      text-align: center;
      font-family: sans-serif;
      padding-top: 2rem;
      font-size: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid whitesmoke;
    }
  
    .day-temp {
      font-size: 14rem;
    }
  
    .min-max {
      padding-bottom: 1rem;
      border-bottom: 1px solid whitesmoke;
    }
  
    .menuToggle {
      display: none;
    }
  
    .menuToggle:hover{
      cursor: pointer;
    }
  
    .rotateClass {
      transform: rotate(180deg);
    }
  
  
    .description {
      padding-top: 1rem;
      border-top: 1px solid whitesmoke;
    }
  
    .rest-of-week {
      text-align: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: auto 10%;
    }
  
    .refresh-btn {
    }
  }
  
