<div class="container">
  <div class="loader"></div>
  <div class="today-weather">
    <div class="today-header">
      <h1>{{ title }}</h1>
    </div>
    <div class="today-details">
      <p>Today {{ todayDate }}</p>
      <p>Area: {{ cityName || "Your area" }}</p>
      <p class="day-temp">{{ forcastToday.temp.day | celcuisConverter }}</p>
      <p>
        Max {{ forcastToday.temp.max | celcuisConverter }} Min
        {{ forcastToday.temp.min | celcuisConverter }}
      </p>
    </div>
  </div>
  <div class="rest-of-week">
    <div *ngFor="let dayOfWeek of weekForecast; let i = index">
        <app-week-weather 
        [minTemp]="dayOfWeek.temp.min"
        [maxTemp]="dayOfWeek.temp.max"
        [todayTemp]="dayOfWeek.temp.day"
        [dateOfWeek]="dayOfWeek.day"
        (rendingComplete)="hasLoaded = $event"
        >
    </app-week-weather>
    </div>
  </div>
</div>

<!-- <button class="btn btn-primary">GET INFO </button> -->
