/* Mobile Styles */
@media handheld, screen and (max-width: 743px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: auto 10%;
  }

  .today-details {
      text-align: center;
      font-family: sans-serif;
      padding-top: 2rem;
      font-size: x-large;
      padding-bottom: 1rem;
      border-bottom: 1px solid whitesmoke;
  }

  .day-temp{
      font-size: 14rem;
      
  }

  .rest-of-week{
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .refresh-btn {

  }

}
