/* Mobile Styles */
@media handheld, screen and (max-width: 743px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: auto 10%;
  }

  .today-details {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .day-temp {
    font-size: 14rem;
  }

  .min-max {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle:hover {
    cursor: pointer;
  }

  .rotateClass {
    transform: rotate(180deg);
  }

  .description {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
  }

  .rest-of-week {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  button.btn-refresh {
    position: fixed;
    border-color:#14344b;
    color:#14344b;
    position: fixed;
    left: 70%;
    bottom: 6px;
    font-size: x-large;
    border-radius: 3px;
  }
}

@media handheld, screen and (min-width: 743px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: auto 10%;
  }

  .today-details {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .day-temp {
    font-size: 14rem;
  }

  .min-max {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .menuToggle:hover {
    cursor: pointer;
  }

  .rotateClass {
    transform: rotate(180deg);
  }

  .description {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
  }

  .rest-of-week {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto 10%;
  }

  button.btn-refresh {
    position: fixed;
    border-color:#14344b;
    color:#14344b;
    position: fixed;
    left: 80%;
    bottom: 6px;
    font-size: x-large;
    border-radius: 3px;
  }
  
  button.btn-refresh:hover{
    cursor: pointer;
    background-color: aqua;
  }
}

@media handheld, screen and (min-width: 1003px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .weather-data {
    display: flex;
    flex-direction: row;
    height: 150%;
  }

  .rest-of-week-container {
    flex-direction: column;
    width: 500px;
  }

  .today-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .today-weather {
    font-family: sans-serif;
    margin: none;
  }

  .today-details {
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .day-temp {
    font-size: 14rem;
  }

  .min-max {
    padding-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;
  }

  .desktop-view-hidden {
    display: none;
  }

  .menuToggle {
    padding:5px;
    padding-top: none;
  }

  .menuToggle:hover {
    cursor: pointer;
  }

  .rotateClass {
    transform: rotate(180deg);
  }

  .description {
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
  }

  .rest-of-week {
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto 10%;
  }

  .btn-refresh {
    position: absolute;
    border-color:#14344b;
    color:#14344b;
    font-size: x-large;
    border-radius: 3px;
  }

  .btn-refresh:hover {
    background-color: aqua;
    cursor: pointer;
  }
}
